@font-face {
    font-family: 'PerfectDOSVGA437';
    src: url('./fonts/Perfect DOS VGA 437.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'PerfectDOSVGA437', sans-serif;
    }

    body {
        background-color: #fdfeff;
        overflow-x: hidden;
    }
}